.container{
    /* breite */
    width: 800px;

    /* höhe */
    height: 800px;

    border: 2px solid black;

    /* Aussenabstand zum nächsten Element */
    margin:auto;

    /* Abstand von  Text zum Rahmen */
    padding: 50px;

    
}
.box{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    margin: 0;
}
